@{
    ViewBag.Title = "Flytta In";
}

@*<div id="query">
    <form>
        <input type="text" name="query" />
        <input type="submit" />
    </form>
</div>

<ul id="result">
    <li id="communication">
        Till Jobbet
    </li>
    <li id="environment">
        Luft och Milj&ouml;
    </li>
</ul>*@


<div id="main" role="main">
    <form id="start-form" action="post" url="/">
        <fieldset>
        <div id="start-address">
            <div class="text">
                <label for="address-1">Hit vill jag flytta</label>
                <input type="text" placeholder="Skriv in adress.." id="address-1" name="address-1" />@*value="tredje långgatan 13B Göteborg"*@
            </div>
        </div>
        </fieldset>
        <fieldset>
        <div id="to-address">
            <div class="text">
                <label for="address-2">Hit reser jag mest</label>
                <input type="text" placeholder="Skriv in adress.." id="address-2" name="address-2" />
                <span class="input-help">Ex. jobbet, en vän/släkting, gymmet mm.</span>
            </div>
            <!--<div class="select">
                <label for="category-2">Kategori</label>
                <select id="category-2" name="category-2">
                    <option value="">Mitt jobb</option>
                    <option value="">Dagis</option>
                    <option value="">Släkting</option>
                    <option value="">Gymmet</option>
                </select>
            </div>
            <a href="javascript:;" id="add-place-btn" class="add">Lägg till fler platser</a>-->
        </div>
        
        <div class="wrap-btn">
            @*<button id="search-btn" type="button">Hitta information</button>*@
            <input id="search-btn" value="Hitta information" type="button" />
        </div>
        </fieldset>
    </form>
    <div class="tabs">
        @*<div class="tab-navigation">*@
            <ul>
                <li><a href="#summary">Översikt</a></li>
                <li><a href="#transportation">Kommunikationer</a></li>
                <li><a href="#environment">Luft &amp; miljö</a></li>
                <li><a href="#accessibility">Tillgänglighet</a></li>
                <li><a href="#service">Samhällsservice</a></li>
            </ul>
        @*</div>*@
        <div id="summary">
            <div id="map_canvas" style="height:500px;"></div>
            <h2 class="visuallyhidden">Översikt</h2>
            <div id="transportation-summary">
                <h3>Kommunikationer</h3>
            </div>
            <div id="environment-summary">
                <h3>Luft &amp; miljö</h3>
            </div>
            <div id="accessibility-summary">
                <h3>Tillgänglighet</h3>
            </div>
            <div id="service-summary">
                <h3>Samhällsservice</h3>
            </div>
        </div>
        <div id="transportation">
            <h2 class="visuallyhidden">Kommunikation</h2>
            
            <a href="#" class="link-to-map">Visa som karta</a>
        </div>
        <div id="environment">
            <h2 class="visuallyhidden">Luft &amp; miljö</h2>
            <a href="#" class="link-to-map">Visa som karta</a>
        </div>
        <div id="accessibility">
            <h2 class="visuallyhidden">Tillgänglighet</h2>
            <a href="#" class="link-to-map">Visa som karta</a>
        </div>
        <div id="service">
            <h2 class="visuallyhidden">Samhällsservice</h2>
            <a href="#" class="link-to-map">Visa som karta</a>
        </div>
    </div>
</div>

<script type="text/javascript">

    var selectedGeoLocation = {};
    var fields = 2;
    $(function () {

        $("#search-btn").bind("click", loadAll);
        $("#add-place-btn").bind("click", addPlace);
        var searchBox = $("#address-1");

        //monkeyPatchAutocomplete();

        //bindAutoCompleteEvent(searchBox);

        $(".tabs").tabs();

//        $('#map_canvas').gmap().bind('init', function () {
//            $.getJSON('http://jquery-ui-map.googlecode.com/svn/trunk/demos/json.json', function (data) {
//                $.each(data.markers, function (i, m) {
//                    $('#map_canvas').gmap('addMarker', { 'position': new google.maps.LatLng(m.lat, m.lng), 'bounds': true });
//                });
//            });
//        });
    });

    var bindAutoCompleteEvent = function (element) {

        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: 'http://maps.google.com/maps/geo?q=' + element.val() + '&gl=SE&output=json&v=2&sensor=false&key=ABQIAAAAzAkrOIsv60fbtV-5UlnnJxRUrcFJRfPs1DYZSl5DdA7w5qtvARRv6HblVCIt_AgTSnG3PdPypHTBEQ',
                    type: "GET",
                    dataType: "jsonp",
                    cache: false,
                    success: function (data) {

                        if (parseInt(data.Status.code) === 200) {
                            var regEx = new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(request.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi");

                            response($.map(data.Placemark, function (item) {

                                return {
                                    address: item.address,
                                    regEx: regEx
                                };
                            }));
                        }
                    }
                });
            },
            minLength: 5,
            select: function (e, ui) {

                element.val(ui.item.address);
                selectedGeoLocation = ui.item;

            }
        });

    }

    var monkeyPatchAutocomplete = function () {
        $.ui.autocomplete.prototype._renderItem = function (ul, item) {

            var address = item.address.replace(item.regEx, "<strong>$1</strong>");

            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + address + "</a>")
                    .appendTo(ul);

        };
    };

    var addPlace = function () {
        //TODO add stuff
        var wrapper = $("#to-address");

        fields++;
        var html = "<label>address " + fields + "</label>";
        html += "<input type='text' placeholder='Skriv in adress..' id='address-" + fields + "' name='address-" + fields + "'/>";

        wrapper.append(html);

    }

    var loadAll = function () {

        //console.log("selected: " + selectedGeoLocation.address);
//        var form = $("#start-form");

//        var boxes = form.find("input[type=text]");
//        //console.log("boxes: " + boxes.length);

        var searchBox = $("#address-1");


        
        var location = getCoords(searchBox.val());


        
//        $('#map_canvas').gmap().bind('init', function () {
//            $.getJSON('http://localhost:5944/api/getStops?longitude=11.9499555&latitude=57.6986837', function (data) {
//                $.each(data.markers, function (i, m) {
//                    $('#map_canvas').gmap('addMarker', { 'position': new google.maps.LatLng(m.lat, m.lng), 'bounds': true });
//                });
//            });
//        });
        
        //getByEniro();
        //getStops();
        //getCarPools();
        //getCrimes();

        return false;
    }

    var getCoords = function (place) {


        
        $.ajax({
            url: 'http://maps.google.com/maps/geo?q=' + place + '&gl=SE&output=json&v=2&sensor=false&key=ABQIAAAAzAkrOIsv60fbtV-5UlnnJxRUrcFJRfPs1DYZSl5DdA7w5qtvARRv6HblVCIt_AgTSnG3PdPypHTBEQ',
            type: "GET",
            dataType: "jsonp",
            cache: false,
            success: function (data) {

                if (parseInt(data.Status.code) === 200) {
                    var cords = data.Placemark[0].Point.coordinates;
                    var location = { longitude: cords[0], latitude: cords[1] };

                    getStops(location);

                    $('#map_canvas').gmap().bind('init', function (ev, map) {
                        $('#map_canvas').gmap('addMarker', { 'position': '' + location.latitude + ',' + location.longitude, 'bounds': true }).click(function () {
                            $('#map_canvas').gmap('openInfoWindow', { 'content': 'Här har du tänkt att flytta!' }, this);
                        });
                    });
                    
                }
            }
        });

    }

    var getStops = function (location) {
        $.ajax({
            type: "GET",
            url: "/api/getStops",
            dataType: "json",
            data: location,
            success: function (response) {
                var list = $.parseJSON(response);
                $.each(list, function (i, m) {
                    console.log(m.lat);
                    $('#map_canvas').gmap('addMarker', { 'content': m.name, 'position': new google.maps.LatLng(m.lat, m.lon), 'bounds': false, 'icon': 'content/icons/bus.png' });
                });
                
            }
        });
    }

    var getCarPools = function () {

        $.ajax({
            type:"GET",
            url:"/api/getCarPool",
            dataType:"json",
            data:{},
            success:function(response){
                
            }
        });
    }

    var getByEniro = function () {
        $.ajax({
            type: "GET",
            url: "/api/getByEniro",
            dataType: "json",
            data: {},
            success: function (response) {

            }
        });
    }

    var getCrimes = function () {
        
        $.ajax({
            type: "GET",
            url:"/api/getCrimes",
            dataType: "json",
            data: {},
            success: function (response) {
            }
        });
    }

</script>

